@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All material is copyrighted. Any attempt to use the material without credit will be met with the proper repercussions.</p>
