* {
  box-sizing: border-box;
}

body {
  background-color: #17181F;
  color: #dddddd;
}

main {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-size: 2rem;
}

h1 span {
  font-size: 0.5rem;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #dddddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local"] {
  color: #777777;
}

form div.basic-info {
  display:flex;
  gap: 10px;
  margin-bottom: 10px;
}

form div.description-and-date {
  display:flex;
  gap: 10px;
  margin-bottom: 10px;
}

form button {
  width: 100%;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #dddddd;
}

div.transactions {
  margin-top: 30px;
}

div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  border-top: 2px solid #30313d;
}

div.transaction:first-child {
  border-top: 0;
}

div.transaction div.name {
  font-size: 1.2em;
}

div.transaction div.description {
  font-size: 0.8em;
  color: #888888;
}

div.right {
  text-align: right;
}

div.price.green {
  color: #02d302;
}

div.price.red {
  color: #ff0000;
}

div.transaction div.date {
  font-size: 0.8em;
  color: #888888;
}
